.main-container {
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

.dashboard-layout {
  height: calc(100% - 64px);
  display: flex;
}

.dashboard-content {
  min-width: 0;
  padding: 1.5rem;
  flex: 1;
  overflow-y: auto;
}

.stat-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 190px), 1fr));
  gap: 10px;
}
